@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@media screen and (max-width: 992px) {
  header .navbar {
    display: none !important;
  }
  header .col-lg-2 {
    display: none;
  }
  header .icons {
    display: none !important;
  }
  header .icons-3 {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  header .icons-3 {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .info-text {
    margin-top: 10px !important;
  }
  iframe {
    width: 100% !important;
  }
}
.container {
  background: url(./image/Ekran\ Resmi\ 2023-12-14\ 23.36.39.png) !important;
}

@media screen and (max-width: 992px) {
  .teach-img {
    margin-left: 0px !important;
  }
}
.icons {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(224, 213, 213);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
}

.header {
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.header .navbar {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.header .navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.57px;
}
.header .navbar a:hover {
  color: #671C7C;
}
.header .icons a {
  text-decoration: none;
  color: #000000;
}
.header .icons a:hover {
  color: #671C7C;
}

.header-text-1 h2 {
  margin-bottom: 15px;
  font-size: 45px;
}
.header-text-1 p {
  margin-bottom: 15px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.section-text-video {
  padding-top: 100px;
  background-size: cover;
  background-position: center;
}

.all-but {
  width: 167px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #543EE9;
  border: none;
  color: #fff;
  margin-top: 20px;
}

.section-2 {
  margin-top: 100px;
}

.cards-head {
  margin-bottom: 30px;
}
.cards-head p {
  color: #000000;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.cards-head h3 {
  text-align: center;
  color: #000000;
  font-family: Futurica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.card-icons i {
  color: #543EE9;
}

.card-butn {
  background-color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #353535;
}

.container .cardes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 320px;
  background-color: #fff;
  border-radius: 20px;
  transition: 0.9s;
}

.container .cardes:hover {
  height: 350px;
}

.container .cardes .imgBx {
  position: absolute;
  top: 0;
  width: 100%;
  height: 220px;
  background-color: #333;
  overflow: hidden;
  transition: 1s;
}

.container .cardes:hover .imgBx {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgb(0, 0, 0);
  border-radius: 20px;
}

.container .cardes .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .cardes .content {
  position: absolute;
  top: 235px;
  width: 100%;
  padding: 3px 7px;
  overflow: hidden;
  height: 30px;
  transition: 0.9s;
}

.container .cardes:hover .content {
  top: 120px;
  height: 250px;
}

.container .cardes .content h2 {
  font-size: 15px;
  font-weight: 700;
}

.container .cardes .content p {
  color: #333;
}

.container .cardes .content a {
  position: relative;
  top: -9px;
  display: inline-block;
  padding: 12px 25px;
  background-color: aqua;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

.container .cardes .content span {
  color: #671C7C;
}

.teacher {
  margin-top: 4rem;
}
.teacher .teach-img {
  margin-left: 40px;
}
.teacher .teach-img img {
  width: 100%;
}

.online-lessons {
  margin-top: 20px;
}

.turn-card {
  position: relative;
  height: 310px;
}

.forn img {
  -o-object-fit: cover;
     object-fit: cover;
}

.front .ttt {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.front .ttt p {
  color: #52dec1;
  font-family: Gotham Rounded;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 0px !important;
}

.front .ttt span {
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.box {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.turn-card .front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.turn-card .front h5 {
  color: #fff;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.back {
  /* z-index: 1; */
  transform: rotateY(180deg);
  background-color: #e0dee2;
  display: flex;
  /* justify-content: center; */
  color: #000000;
  /* text-align: center; */
  padding: 2rem 2.5rem;
  transition: 1s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back-title h3 {
  color: #52dec1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.back-text p {
  padding-bottom: 10px;
}

.turn-card:hover .front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.turn-card:hover .back {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.teacher-head {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.teacher-head p {
  margin-bottom: 0 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.slider-box {
  width: 100%;
  height: 100%;
  background-image: url(./image/imtahan-1.png);
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-head {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.slider-container {
  padding: 40px;
}

.slider-content {
  margin: 0 40px;
}

.cardOne {
  width: 300px;
  border-radius: 25px;
  background-color: #fff;
}

.image-content,
.cardOne-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.image-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  height: 350px;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  background-color: #fff;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #671C7C;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #671C7C;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.cardOne-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  padding: 3px;
}

.cardOne-image .cardOne-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #671C7C;
}

.name {
  font-size: 18px;
  color: #333;
}

.description {
  font-size: 14px;
  text-align: center;
  color: #707070;
}

.buttonOne {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonOne:hover {
  background-color: #265df2;
}

.info-text {
  margin-top: 100px;
}
.info-text span {
  color: #543EE9;
  font-family: Gotham Rounded;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.info-text h2 {
  color: #181818;
  font-family: Futurica;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.info-text p {
  color: #181818;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.video {
  text-align: center;
}
.video iframe {
  width: 461px;
}

.student-text {
  background-color: #fff;
  height: 245px;
  padding: 25px;
  overflow: hidden;
  transition: 0.9s;
}
.student-text img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
}
.student-text span {
  color: #FE5538;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.student-text p {
  color: #3E3D3D;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.student-text:hover {
  height: 350px;
}

.stu-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}
.stu-icon p {
  color: #3AD4D8;
  text-align: right;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.student-head {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.info-text {
  padding: 15px;
}

.information {
  margin-top: 4rem;
}

.info-foto {
  font-size: 40px;
  margin-top: 35px;
  margin-left: 120px;
  margin-right: 110px;
}

@media screen and (max-width: 992px) {
  .info-foto {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .info-text {
    margin-top: 0px !important;
    text-align: center;
  }
  .teach-about, .teach-head {
    text-align: center;
  }
}
.book-head {
  margin-top: 4rem;
  text-align: center;
}

.products .products-cards {
  box-shadow: 0 10px 25px rgba(2, 2, 2, 0.365);
  z-index: 1;
  background: #671C7C;
  position: relative;
  height: 400px;
  margin: 40px;
  border-radius: 10px;
}

.products .products-cards:before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products .products-cards .product-img {
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
  height: 225px;
  position: absolute;
  max-width: 350px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products .products-cards .names {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.products .products-cards .price {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 80px;
  font-size: 30px;
  font-weight: 300;
}

.products .products-cards .popup-btn {
  z-index: 2;
  color: #fff;
  background: #007aff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

/*Styles for popup view*/
.products .popup-view {
  z-index: 2;
  background: rgba(201, 199, 199, 0.684);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.products .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.products .popup-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.products .popup-card .product-img {
  height: 450px;
  z-index: 2;
  background: #671C7C;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products .popup-card .product-img img {
  /* height: 450px; */
  z-index: 2;
  position: relative;
  /* width: 450px; */
  left: -50px;
}

.products .popup-card .info {
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}

.products .popup-card .close-btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.productss .popup-card .info h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.products .popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #007aff;
}

.info .price {
  color: #007aff;
}

.products .popup-card .info p {
  font-size: 15px;
  margin: 10px;
}

.products .popup-card .info .prices {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.products .popup-card .info .add-cart-btn {
  color: #fff;
  background: #007aff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
}

.products .popup-card .info .add-wish {
  color: #009dd2;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

/*Responsive styles*/
@media (max-width: 900px) {
  .products .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }
  .products .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .products .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }
  .products .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .products .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }
  .products .popup-card .info h2 span {
    font-size: 10px;
  }
  .products .popup-card .info p {
    margin: 5px;
    font-size: 13px;
  }
  .products .popup-card .info .prices {
    margin: 5px;
    font-size: 30px;
  }
  .products .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }
  .products .popup-card .info .add-wish {
    font-size: 14px;
  }
  .products .popup-card .close-btn {
    z-index: 4;
  }
}
.news-head {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  position: relative;
  background: #fff;
  width: 350px;
  box-shadow: 0 5px 25px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card .card-img {
  position: relative;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-img img {
  width: 102%;
  height: 102%;
}

.card-content {
  position: relative;
  text-align: center;
  margin: 15px;
}

.card-content .text {
  position: relative;
  font-size: 0.9em;
  text-align: left;
  height: 100px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.card-content .text:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fff, transparent);
  display: none;
}

.card.gradient .card-content .text:before {
  display: block;
}

.card-content .see-more-btn {
  font-size: 0.85em;
  color: #777;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-content .see-more-btn:hover {
  color: #111;
}

/*======= Media queries (max-width: 450px) =======*/
@media screen and (max-width: 450px) {
  .card-container {
    margin: 15px;
  }
  .card {
    width: 100%;
  }
  .card .card-img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */