@import './responsive.scss';
@import './variables.scss';
.container{
    
    background: url(./image/Ekran\ Resmi\ 2023-12-14\ 23.36.39.png) !important;
}
@media screen and (max-width:992px){
  .teach-img{
      margin-left: 0px !important;
  }
}
.icons{
    cursor: pointer;
     display: flex;
     justify-content: center;
    align-items: center;
    & i{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $--ico-color;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-left: 10px;
    }
    
}
.header{
    // background-color: #e4e0e0 !important;
    // background-color: $--ico-color;
    background: $--main-two-color;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    // box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
    & .navbar{
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        & a{
                text-decoration: none;
                color: $--main-color;
                font: {
                size: 14px;
                weight: 700;
                }
                line-height: 17.57px;
        }
        & a:hover{
            color: $--rebe-color;
        }
    }
    & .icons a{
        text-decoration: none;
        color: $--main-color;
    }
    & .icons a:hover{
        color: $--rebe-color;
    } 
}
.header-text-1{

    //  & span{
    //    font-size: calc($--px-1 - $--px-2);
    //  }
    // padding-right: 110px;
    & h2{
        margin-bottom: calc($--px-15);
        font-size: $--px-45;
    } 
    & p{
        margin-bottom: $--px-15;
        color: $--main-color;
        font: {
        size: calc($--px-15 - $--px-1);
        weight: 700;
        }
        line-height: calc($--px-20 - $--px-2);
        
    }
}
.section-text-video{
    padding-top: $--px-100;
    background-size: cover;
    background-position: center;
}

.all-but{
width: calc($--px-100 + $--px-65 + $--px-2);
height: $--px-50;
flex-shrink: 0;
border-radius: $--px-30;
background: #543EE9;
border: none;
color: $--main-two-color;
margin-top: $--px-20;
}
.section-2{
    margin-top: $--px-100;
}

.cards-head{
    margin-bottom: $--px-30 ;
    & p{
      color: $--main-color;
      text-align: center;
        font: {
        family: Mulish;
        size: calc($--px-15 + $--px-1);
        style: normal;
        weight: 400;
      }
      line-height: calc($--px-25 - $--px-1);
    }
    & h3{
        text-align: center;
        color: $--main-color;
          font: {
            family: Futurica;
            size: $--px-30;
            style: normal;
            weight: 700;
                }
        line-height: normal;
        text-transform: capitalize;
    }
}
.card-icons{
    & i{
        color: $--icon-star-color;
    }
   
}
.card-butn{
    background-color: $--main-two-color;
    // margin-right: calc($--px-10 + $--px-3);
    width: calc($--px-100 + $--px-20);
    height: $--px-40;
    border-radius: $--px-30;
border: 1px solid $--card-btn-color;
}
// ......cads........
.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(($--px-100 * 3) + $--px-20);
    background-color: $--main-two-color;
    border-radius: $--px-20;
    // box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
    transition: 0.9s;
  }
  .container .card:hover {
    height: calc(($--px-100 * 3) + $--px-50);
  }
  .container .card .imgBx {
    position: absolute;
    top: $--px-0;
    width: 100%;
    height: calc(($--px-100 * 2) + $--px-20);
    background-color: $--shadow-color;
    // border-radius: 12px;
    overflow: hidden;
    transition: 1s;
  }
  .container .card:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 15);
    border-radius: $--px-20;
  }
  .container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .card .content {
    position: absolute;
    top: calc(($--px-100 * 2) + $--px-35);
    width: 100%;
    padding: 3px 7px;
    overflow: hidden;
    height: $--px-30;
    // text-align: center;
    transition: 0.9s;
  }
  .container .card:hover .content {
    top: calc($--px-100 + $--px-20);
    height: calc(($--px-100 * 2) + $--px-50);
  }
  .container .card .content h2 {
   font: {
      size: $--px-15;
      weight: 700;
   }
  }
  .container .card .content p {
    color: $--shadow-color;
  }
  .container .card .content a {
    position: relative;
    top: -9px;
    display: inline-block;
    padding: 12px 25px;
    background-color: $--aqua-color;
    color: $--main-two-color;
    font-weight: 500;
    text-decoration: none;
    border-radius: $--px-8;
  }
  .container .card .content span{
    color: $--rebe-color;
  }
.teacher{
  margin-top: 4rem;
    & .teach-img{
        margin-left: $--px-40;
        & img{
            width: 100%;
        }
    }
    // & .teach-head{
    //     // margin-top: $--px-70;
    // }
  }

//   ......ONLİNE LESSONS.........
  @import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.online-lessons{
    margin-top: $--px-20;
}
  .turn-card {
  position: relative;
  height: calc(($--px-100 * 3) + $--px-10);
}
.forn img{
    object-fit: cover;
}

.front .ttt {
  padding-left: $--px-20;
//   padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}
.front .ttt p {
  color: $--ttt-color;
      font: {
        family: Gotham Rounded;
        size: $--px-35;
        style: normal;
        weight: 400;
      }
  line-height: $--px-50;
  margin-bottom: 0px !important;
}
.front .ttt span {

  color: $--main-two-color;
        font: {
          family: Mulish;
          size: $--px-20;
          style: normal;
          weight: 700;
        }
  line-height: $--px-20;
}
.box {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: $--px-10;
  overflow: hidden;
  transition: 1s;
}
.turn-card .front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.turn-card .front h5 {
  color: $--main-two-color;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back {
  /* z-index: 1; */
  transform: rotateY(180deg);
  background-color: $--card-back-color;
  display: flex;
//   align-items: center;
  /* justify-content: center; */
  color: $--main-color;
  /* text-align: center; */
  padding: 2rem 2.5rem;
  transition: 1s;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back-title h3 {
  color: $--ttt-color;
  font-family: "M PLUS Rounded 1c", sans-serif;
        font: {
          size: $--px-35;
          style: normal;
          weight: 700;
        }
  line-height: $--px-50;
}
.back-text p {
  padding-bottom: $--px-10;
}
.turn-card:hover .front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.turn-card:hover .back {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
// ....SLİDER.....
.teacher-head{
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  & p{
    margin-bottom: 0 !important;
  }

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: calc($--px-10 + $--px-8);
  background: $--main-two-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  width: calc($--px-100 * 2);
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  // height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: $--px-20;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid $--butn-color;
  color: $--butn-color;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: $--px-4;
  margin: 0 10px;
  font-size: calc($--px-10 + $--px-3);
}
.slider-box{
  width: 100%;
  height: 100%;
  background-image: url(./image/imtahan-1.png);
  object-fit: cover;
}
.slider-head{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
// ...............

.slider-container {
  // max-width: 1120px;
  // width: 100%;
  // background-color: grey;
  padding: $--px-40;
}
.slider-content {
  margin: 0 40px;
}
.cardOne {
  width: calc($--px-100 * 3);
  border-radius: $--px-25;
  background-color: $--main-two-color;
}
.image-content,
.cardOne-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  // height: 350px;
  position: relative;
  row-gap: $--px-5;
  padding: 25px 0;
}
.image-content2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  height: calc(($--px-100 * 3) + $--px-50);
  position: relative;
  row-gap: $--px-5;
  padding: 25px 0;
  background-color: $--main-two-color;
  border-radius: $--px-20;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $--rebe-color;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: $--px-40;
  width: $--px-40;
  background-color: $--rebe-color;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: $--main-two-color;
}
.cardOne-image {
  position: relative;
  height: calc($--px-100 + $--px-50);
  width: calc($--px-100 + $--px-50);
  border-radius: 50%;
  background-color: $--main-two-color;
  padding: $--px-3;
}
.cardOne-image .cardOne-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid $--rebe-color;
}
.name {
  font-size: calc($--px-10 + $--px-8);
  color: $--shadow-color;
}
.description {
  font-size: calc($--px-10 + $--px-4);
  text-align: center;
  color: $--desc-color;
}
.buttonOne {
  border: none;
  font-size: calc($--px-10 + $--px-6);
  color: $--main-two-color;
  padding: 8px 16px;
  background-color: $--butone-color;
  border-radius: $--px-6;
  margin: calc($--px-10 + $--px-4);
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttonOne:hover {
  background-color: $--bun-hov-color;
}

.info-text{
margin-top: 100px;
  & span{
    color: $--info-text-color;
        font: {
        family: Gotham Rounded;
        size: $--px-15;
        style: normal;
        weight: 400;
        }
line-height: $--px-20; 
  }
  & h2{
    color: $--info-text-h2-color;
      font: {
        family: Futurica;
        size: calc($--px-40 + $--px-6);
        style: normal;
        weight: 700;
      }
line-height: normal;
text-transform: capitalize;
  }

  & p{
    color: $--info-text-h2-color;
        font: {
        family: Mulish;
        size:  calc($--px-15 + $--px-1);
        style: normal;
        weight: 400;
        }
line-height: calc($--px-25 - $--px-1);
  }
}
.video{
  text-align: center;
  & iframe{
    width: calc(($--px-100 * 4) + $--px-60 + $--px-1);
  }
  
}

.student-text{
  background-color: $--main-two-color;
  height: calc(($--px-100 *2) + $--px-45);
  padding: $--px-25;
  overflow: hidden;
  transition: 0.9s;
  & img{
    width: $--px-60;
    height: $--px-60;
    border-radius: 50%;
    display: block;
   
  }
  & span{
    color: $--stu-sp-color;
        font: {
        family: Mulish;
        size: $--px-15;
        style: normal;
        weight: 700;
        }
line-height: $--px-20;
  }
  & p{
    color: $--stu-pe-color;
        font: {
          family: Mulish;
          size: calc($--px-15 - $--px-1);
          style: normal;
          weight: 400;
        }
line-height: calc($--px-25 - $--px-1);


  }
}
.student-text:hover{
  height: calc(($--px-100 * 3) + $--px-50);

}

.stu-icon{
  display: flex;
  justify-content: flex-end;
  font-size: $--px-30;
  & p{
    color: $--stu-ico-color;
text-align: right;
      font: {
        family: Montserrat;
        size: $--px-20;
        style: normal;
        weight: 700;
      }
line-height: $--px-20; 
  }
}
.student-head{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.info-text{
  padding: $--px-15;
}
.information{
  margin-top: 4rem;

}
.info-foto{
  font-size: $--px-40;
  margin-top: $--px-35;
  margin-left: calc($--px-100 + $--px-20);
  margin-right: calc($--px-100 + $--px-10);
  // width: 523px;
  // height: 330px;
}
@media screen and (max-width:992px){
  .info-foto{
    // margin-top: 10px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;

  }
  .info-text{
    margin-top: 0px !important;
    text-align: center;
    
  }
  .teach-about , .teach-head{
    text-align: center;
  }
}
// ..............POPUP-CARDS.....................
.book-head{
  margin-top: 4rem;
  text-align: center;
}
.products .products-cards {
  z-index: 1;
  background: $--rebe-color;
  position: relative;
  // width: 300px;
  height: 400px;
  margin: 40px;
  border-radius: 10px;
}
// @media screen and(min-width:768px) {
//   .products .products-cards{
//     width: 300px;
//   }
// }
.products .products-cards:before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products .products-cards .product-img {
  object-fit: contain;
  z-index: 1;
  height: 225px;
  position: absolute;
  max-width: 350px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products .products-cards .names {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.products .products-cards .price {
  z-index: 2;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 80px;
  font-size: 30px;
  font-weight: 300;
}

.products .products-cards .popup-btn {
  z-index: 2;
  color: #fff;
  background: $--butn-color;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  // text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

/*Styles for popup view*/

.products .popup-view {
  z-index: 2;
  background: rgba(201, 199, 199, 0.684);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.products .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.products .popup-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.products .popup-card .product-img {
  height: 450px;
  z-index: 2;
  background: $--rebe-color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products .popup-card .product-img img {
  /* height: 450px; */
  z-index: 2;
  position: relative;
  /* width: 450px; */
  left: -50px;
}

.products .popup-card .info {
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}

.products .popup-card .close-btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.productss .popup-card .info h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.products .popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $--butn-color;
}
.info .price{
  color: $--butn-color;;
}

.products .popup-card .info p {
  font-size: 15px;
  margin: 10px;
}

.products .popup-card .info .prices {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.products .popup-card .info .add-cart-btn {
  color: #fff;
  background: #009dd2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
}

.products .popup-card .info .add-wish {
  color: #009dd2;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

/*Responsive styles*/

@media (max-width: 900px) {
  .products .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .products .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .products .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }

  .products .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .products .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

  .products .popup-card .info h2 span {
    font-size: 10px;
    
  }

  .products .popup-card .info p {
    margin: 5px;
    font-size: 13px;
  }

  .products .popup-card .info .prices {
    margin: 5px;
    font-size: 30px;
  }

  .products .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

  .products .popup-card .info .add-wish {
    font-size: 14px;
  }

  .products .popup-card .close-btn {
    z-index: 4;
  }
}
