    $--ico-color: rgb(224, 213, 213);
    $--nav-color:pink;
    $--main-color:#000000;
    $--main-two-color:#fff;
    $--rebe-color:#671C7C;
    $--card-btn-color:#353535;
    $--icon-star-color:#543EE9;
    $--shadow-color:#333;
    $--aqua-color:aqua;
    $--ttt-color:#52dec1;
    $--card-back-color:#e0dee2;
    $--butn-color:#007aff;
    $--desc-color:#707070;
    $--butone-color:#4070f4;
    $--bun-hov-color:#265df2;
    $--info-text-color:#543EE9;
    $--info-text-h2-color:#181818;
    $--stu-sp-color:#FE5538;
    $--stu-pe-color:#3E3D3D;
    $--stu-ico-color:#3AD4D8;
    $--px-0:0px;
    $--px-1:1px;
    $--px-2:2px;
    $--px-3:3px;
    $--px-4:4px;
    $--px-5:5px;
    $--px-6:6px;
    $--px-7:7px;
    $--px-8:8px;
    $--px-9:9px;
    $--px-10:10px;
    $--px-15:15px;
    $--px-20:20px;
    $--px-25:25px;
    $--px-30:30px;
    $--px-35:35px;
    $--px-40:40px;
    $--px-45:45px;
    $--px-50:50px;
    $--px-55:55px;
    $--px-60:60px;
    $--px-65:65px;
    $--px-70:70px;
    $--px-75:75px;
    $--px-80:80px;
    $--px-85:85px;
    $--px-90:90px;
    $--px-95:95px;
    $--px-100:100px
   
