:root{
    $--ico-color: rgb(224, 213, 213);
    $--nav-color:pink;
    $--main-color:#000000;
    $--main-two-color:#fff;
    $--rebe-color:#671C7C;
    $--card-btn-color:#353535;
    $--icon-star-color:#543EE9;
    $--shadow-color:#333;
    $--aqua-color:aqua;
    $--ttt-color:#52dec1;
    $--card-back-color:#e0dee2;
    $--butn-color:#007aff;
    $--desc-color:#707070;
    $--butone-color:#4070f4;
    $--bun-hov-color:#265df2;
    $--info-text-color:#543EE9;
    $--info-text-h2-color:#181818;
    $--stu-sp-color:#FE5538;
    $--stu-pe-color:#3E3D3D;
    $--stu-ico-color:#3AD4D8;
}