@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './responsive.scss';
@import './variables.scss';

@media screen and (max-width:992px){
  .teach-img{
      margin-left: 0px !important;
  }
}

.icons{
    cursor: pointer;
     display: flex;
     justify-content: center;
    align-items: center;
    & i{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $--ico-color;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-left: 0.625rem;
    }
    
}

.header-text-1{

    //  & span{
    //    font-size: calc($--px-1 - $--px-2);
    //  }
    // padding-right: 110px;
    & h2{
        margin-bottom: calc($--px-15);
        font-size: $--px-45;
    } 
    & p{
        margin-bottom: $--px-15;
        color: $--main-color;
        font: {
        size: calc($--px-15 - $--px-1);
        weight: 700;
        }
        line-height: calc($--px-20 - $--px-2);
        
    }
}
.section-text-video{
    padding-top: $--px-100;
    background-size: cover;
    background-position: center;
}

.all-but{
width: calc($--px-100 + $--px-65 + $--px-2);
height: $--px-50;
flex-shrink: 0;
border-radius: $--px-30;
background: #543EE9;
border: none;
color: $--main-two-color;
margin-top: $--px-20;
}
.section-2{
    margin-top: $--px-100;
}

.cards-head{
  margin-top: 3rem;
    margin-bottom: $--px-30 ;
    & p{
      color: $--main-color;
      text-align: center;
        font: {
        family: Mulish;
        size: calc($--px-15 + $--px-1);
        style: normal;
        weight: 400;
      }
      line-height: calc($--px-25 - $--px-1);
    }
    & h3{
        text-align: center;
        color: $--main-color;
          font: {
            family: Futurica;
            size: $--px-30;
            style: normal;
            weight: 700;
                }
        line-height: normal;
        text-transform: capitalize;
    }
}
.card-icons{
    & i{
        color: $--icon-star-color;
    }
   
}
.card-butn{
    background-color: $--main-two-color;
    // margin-right: calc($--px-10 + $--px-3);
    width: calc($--px-100 + $--px-20);
    height: $--px-40;
    border-radius: $--px-30;
border: 1px solid $--card-btn-color;
}
// ......cads........
.container .cardes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(($--px-100 * 3) + $--px-20);
    background-color: $--main-two-color;
    border-radius: $--px-20;
    box-shadow: 0 1px 5px hsla(230, 13%, 9%, 0.4);
    // box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
    transition: 0.9s;
  }
  .container .cardes:hover {
    height: calc(($--px-100 * 3) + $--px-50);
  }
  .container .cardes .imgBx {
    position: absolute;
    top: $--px-0;
    width: 100%;
    height: calc(($--px-100 * 2) + $--px-20);
    background-color: $--shadow-color;
     border-radius: 12px;
    overflow: hidden;
    transition: 1s;
  }
  .container .cardes:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 15);
    border-radius: $--px-20;
  }
  .container .cardes .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .cardes .content {
    position: absolute;
    top: calc(($--px-100 * 2) + $--px-35);
    width: 100%;
    padding: 3px 7px;
    overflow: hidden;
    height: $--px-30;
    // text-align: center;
    transition: 0.9s;
  }
  .container .cardes:hover .content {
    top: calc($--px-100 + $--px-20);
    height: calc(($--px-100 * 2) + $--px-50);
  }
  .container .cardes .content h2 {
   font: {
      size: $--px-15;
      weight: 700;
   }
  }
  .container .cardes .content p {
    color: $--shadow-color;
  }
  // .container .cardes .content a {
  //   position: relative;
  //   top: -9px;
  //   display: inline-block;
  //   padding: 12px 25px;
  //   background-color: $--aqua-color;
  //   color: $--main-two-color;
  //   font-weight: 500;
  //   text-decoration: none;
  //   border-radius: $--px-8;
  // }
  .container .cardes .content span{
    color: $--rebe-color;
  }
.teacher{
  margin-top: 4rem;
    & .teach-img{
        margin-left: $--px-40;
        & img{
            width: 100%;
        }
    }
    // & .teach-head{
    //     // margin-top: $--px-70;
    // }
  }

//   ......ONLİNE LESSONS.........
  @import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.online-lessons{
    margin-top: $--px-20;
}
  .turn-card {
  position: relative;
  height: calc(($--px-100 * 3) + $--px-10);
}
.forn img{
    object-fit: cover;
}

.front .ttt {
  padding-left: $--px-20;
//   padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}
.front .ttt p {
  color: $--ttt-color;
      font: {
        family: Gotham Rounded;
        size: $--px-35;
        style: normal;
        weight: 400;
      }
  line-height: $--px-50;
  margin-bottom: 0px !important;
}
.front .ttt span {

  color: $--main-two-color;
        font: {
          family: Mulish;
          size: $--px-20;
          style: normal;
          weight: 700;
        }
  line-height: $--px-20;
}
.box {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: $--px-10;
  overflow: hidden;
  transition: 1s;
}
.turn-card .front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.turn-card .front h5 {
  color: $--main-two-color;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back {
  /* z-index: 1; */
  transform: rotateY(180deg);
  background-color: $--card-back-color;
  display: flex;
//   align-items: center;
  /* justify-content: center; */
  color: $--main-color;
  /* text-align: center; */
  padding: 2rem 2.5rem;
  transition: 1s;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back-title h3 {
  color: $--ttt-color;
  font-family: "M PLUS Rounded 1c", sans-serif;
        font: {
          size: $--px-35;
          style: normal;
          weight: 700;
        }
  line-height: $--px-50;
}
.back-text p {
  padding-bottom: $--px-10;
}
.turn-card:hover .front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.turn-card:hover .back {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
// ....SLİDER.....
.teacher-head{
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  & p{
    margin-bottom: 0 !important;
  }

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: calc($--px-10 + $--px-8);
  background: $--main-two-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  width: calc($--px-100 * 2);
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  // height: 300px;
  margin: 1.25rem auto;
}

.append-buttons {
  text-align: center;
  margin-top: $--px-20;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid $--butn-color;
  color: $--butn-color;
  text-decoration: none;
  padding: 4px 0.625rem;
  border-radius: $--px-4;
  margin: 0 0.625rem;
  font-size: calc($--px-10 + $--px-3);
}
.slider-box{
  width: 100%;
  height: 100%;
  background-image: url(./image/imtahan-1.png);
  object-fit: cover;
}
.slider-head{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
// ...............

.slider-container {
  // max-width: 1120px;
  // width: 100%;
  // background-color: grey;
  padding: $--px-40;
}
.slider-content {
  margin: 0 40px;
}
.cardOne {
  width: calc($--px-100 * 3);
  border-radius: $--px-25;
  background-color: $--main-two-color;
}
.image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.cardOne-content {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 10px 14px;
}
.image-content {
  // height: 350px;
  position: relative;
  row-gap: $--px-5;
  padding: 25px 0;
}
.image-content2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  height: calc(($--px-100 * 3) + $--px-50);
  position: relative;
  row-gap: $--px-5;
  padding: 25px 0;
  background-color: $--main-two-color;
  border-radius: $--px-20;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $--rebe-color;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: $--px-40;
  width: $--px-40;
  background-color: $--rebe-color;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: $--main-two-color;
}
.cardOne-image {
  position: relative;
  height: calc($--px-100 + $--px-50);
  width: calc($--px-100 + $--px-50);
  border-radius: 50%;
  background-color: $--main-two-color;
  padding: $--px-3;
}
.cardOne-image .cardOne-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid $--rebe-color;
}
.name {
  font-size: calc($--px-10 + $--px-8);
  color: $--shadow-color;
}
.description {
  font-size: calc($--px-10 + $--px-4);
  text-align: center;
  color: $--desc-color;
}
.buttonOne {
  border: none;
  font-size: calc($--px-10 + $--px-6);
  color: $--main-two-color;
  padding: 8px 16px;
  background-color: $--butone-color;
  border-radius: $--px-6;
  margin: calc($--px-10 + $--px-4);
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttonOne:hover {
  background-color: $--bun-hov-color;
}

.info-text{
margin-top: 100px;
  & span{
    color: $--info-text-color;
        font: {
        family: Gotham Rounded;
        size: $--px-15;
        style: normal;
        weight: 400;
        }
line-height: $--px-20; 
  }
  & h2{
    color: $--info-text-h2-color;
      font: {
        family: Futurica;
        size: calc($--px-40 + $--px-6);
        style: normal;
        weight: 700;
      }
line-height: normal;
text-transform: capitalize;
  }

  & p{
    color: $--info-text-h2-color;
        font: {
        family: Mulish;
        size:  calc($--px-15 + $--px-1);
        style: normal;
        weight: 400;
        }
line-height: calc($--px-25 - $--px-1);
  }
}
.video{
  text-align: center;
  & iframe{
    width: calc(($--px-100 * 4) + $--px-60 + $--px-1);
  }
  
}

.student-text{
  background-color: $--main-two-color;
  height: calc(($--px-100 *2) + $--px-45);
  padding: $--px-25;
  overflow: hidden;
  transition: 0.9s;
  & img{
    width: $--px-60;
    height: $--px-60;
    border-radius: 50%;
    display: block;
   
  }
  & span{
    color: $--stu-sp-color;
        font: {
        family: Mulish;
        size: $--px-15;
        style: normal;
        weight: 700;
        }
line-height: $--px-20;
  }
  & p{
    color: $--stu-pe-color;
        font: {
          family: Mulish;
          size: calc($--px-15 - $--px-1);
          style: normal;
          weight: 400;
        }
line-height: calc($--px-25 - $--px-1);


  }
}
.student-text:hover{
  height: calc(($--px-100 * 3) + $--px-50);

}

.stu-icon{
  display: flex;
  justify-content: flex-end;
  font-size: $--px-30;
  & p{
    color: $--stu-ico-color;
text-align: right;
      font: {
        family: Montserrat;
        size: $--px-20;
        style: normal;
        weight: 700;
      }
line-height: $--px-20; 
  }
}
.student-head{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.info-text{
  padding: $--px-15;
}
.information{
  margin-top: 4rem;

}
.info-foto{
  font-size: $--px-40;
  margin-top: $--px-35;
  margin-left: calc($--px-100 + $--px-20);
  margin-right: calc($--px-100 + $--px-10);
  // width: 523px;
  // height: 330px;
}
@media screen and (max-width:992px){
  .info-foto{
    // margin-top: 10px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;

  }
  .info-text{
    margin-top: 0px !important;
    text-align: center;
    
  }
  .teach-about , .teach-head{
    text-align: center;
  }
}
// ..............POPUP-CARDS.....................
.book-head{
  margin-top: 4rem;
  text-align: center;
}
.products .products-cards {
  box-shadow: 0 10px 25px $--prod-color;
  z-index: 1;
  background: $--rebe-color;
  position: relative;
  // width: 300px;
  height: 400px;
  margin: 2.5rem;
  border-radius: 0.625rem;
}
// @media screen and(min-width:768px) {
//   .products .products-cards{
//     width: 300px;
//   }
// }
.products .products-cards:before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: $--px-10;
  border-bottom-left-radius: $--px-10;
}

.products .products-cards .product-img {
  object-fit: contain;
  z-index: 1;
  height: calc($--px-100 * 2) + $--px-25;
  position: absolute;
  max-width: calc($--px-100 * 3) + $--px-50;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products .products-cards .names {
  z-index: 2;
  color: $--main-two-color;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: calc($--px-100 + $--px-30);
  font-size: $--px-20;
  letter-spacing: $--px-1;
}

.products .products-cards .price {
  z-index: 2;
  color: $--main-two-color;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: $--px-80;
  font-size: $--px-30;
  font-weight: 300;
}

.products .products-cards .popup-btn {
  z-index: 2;
  color: $--main-two-color;
  background: $--butn-color;
  position: absolute;
  bottom: $--px-20;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  // text-transform: uppercase;
  text-decoration: none;
  letter-spacing: $--px-1;
  padding: 10px 15px;
  border-radius: $--px-20;
  cursor: pointer;
}

/*Styles for popup view*/

.products .popup-view {
  z-index: 2;
  background: $--popback-color;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.products .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.products .popup-card {
  position: relative;
  display: flex;
  width: calc($--px-100 * 8);
  height: calc($--px-100 * 5);
  margin: $--px-20;
}

.products .popup-card .product-img {
  height: calc($--px-100 * 4) + $--px-50;
  z-index: 2;
  background: $--rebe-color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: $--px-10;
  border-bottom-left-radius: $--px-10;
}

.products .popup-card .product-img img {
  /* height: 450px; */
  z-index: 2;
  position: relative;
  /* width: 450px; */
  left: -50px;
}

.products .popup-card .info {
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: $--px-40;
  border-radius: $--px-10;
}

.products .popup-card .close-btn {
  color: $--pop-butn-color;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: $--px-20;
  margin: $--px-20;
  cursor: pointer;
}

.productss .popup-card .info h2 {
  font-size: $--px-40;
  line-height: $--px-20;
  margin: $--px-10;
}

.products .popup-card .info h2 span {
  font-size: $--px-15;
  text-transform: uppercase;
  letter-spacing: $--px-2;
  color: $--butn-color;
}
.info .price{
  color: $--butn-color;;
}

.products .popup-card .info p {
  font-size: $--px-15;
  margin: $--px-10;
}

.products .popup-card .info .prices {
  font-size: $--px-45;
  font-weight: 300;
  margin: $--px-10;
}

.products .popup-card .info .add-cart-btn {
  color: $--main-two-color;
  background: $--butn-color;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: $--px-20;
}

.products .popup-card .info .add-wish {
  color: #009dd2;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

/*Responsive styles*/

@media (max-width: 900px) {
  .products .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .products .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: calc($--px-100 * 2);
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: $--px-10;
    border-top-right-radius: $--px-10;
  }

  .products .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }

  .products .popup-card .info {
    width: 100%;
    height: auto;
    padding: $--px-20;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .products .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: $--px-25;
  }

  .products .popup-card .info h2 span {
    font-size: $--px-10;
    
  }

  .products .popup-card .info p {
    margin: $--px-5;
    font-size: 13px;
  }

  .products .popup-card .info .prices {
    margin: $--px-5;
    font-size: $--px-30;
  }

  .products .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

  .products .popup-card .info .add-wish {
    font-size: 14px;
  }

  .products .popup-card .close-btn {
    z-index: 4;
  }
}
// ...............NEWS......

.news-head{
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.card {
  position: relative;
  background: #fff;
  width: 350px;
  box-shadow: 0 5px 25px rgba(2, 2, 2, 0.25);
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.card .card-img {
  position: relative;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-img img {
  width: 102%;
  height: 102%;
}

.card-content {
  position: relative;
  text-align: center;
  margin: 15px;
}

.card-content .text {
  position: relative;
  font-size: 0.9em;
  text-align: left;
  height: 100px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.card-content .text:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fff, transparent);
  display: none;
}

.card.gradient .card-content .text:before {
  display: block;
}

.card-content .see-more-btn {
  font-size: 0.85em;
  color: #777;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-content .see-more-btn:hover {
  color: #111;
}

/*======= Media queries (max-width: 450px) =======*/
@media screen and (max-width: 450px) {
  .card-container {
    margin: 15px;
  }

  .card {
    width: 100%;
  }

  .card .card-img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}

// ........FOOTER.........
.main-footer{
  margin-top: 2rem;
  background-color: $--rebe-color;
  padding: 30px 50px;
  color: $--main-two-color;
  & ul{
    list-style: none;
    & a{
      text-decoration: none;
      color: $--main-two-color;
    transition: 0.9s;

    }
    & li{
      margin-bottom: $--px-10;
    }
  }
  & .footer-text{
    padding: 30px 30px;
    font-size: calc($--px-10 + $--px-2);
  }
  & .footer-icons{
    padding: 30px 30px;
    

  }
}

@media screen and (min-width:768px) {
  .footer-image img{
    width: 300px;
    margin-left: 210px;
  }
}
@media screen and (min-width:992px) {
  .footer-image img{
    width: 100%;
    margin-left: 0;
  }
}
// @media screen and (max-width:768px) {
//   .main-footer{
//     text-align: center;
//   }
// }
.main-footer .footer-text a:hover{
  color: $--footer-color;
}
// .......................HEADERmenu.......................
input,
button {
  border: none;
  outline: none;
}
ul {
  list-style: none !important;
  padding-left: 0rem !important;
  margin-bottom: 0 !important;
}
a {
  text-decoration: none !important;
}

.search,
.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $--log-color;
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: $--main-color;
  cursor: pointer;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white !important;
  padding: 1.25rem;
  z-index: 3;
  //  box-shadow: 0 2px 16px rgb(126, 72, 72); 
}
.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: $--nav-logo-color;
  transition: color 0.4s;
}
.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: $--rebe-two-color;
  cursor: pointer;
  transition: color 0.4s;
}
:is(.nav__logo, .nav__search, .nav__login, .nav__toogle, .nav__link):hover {
  color: $--blu-color;
}

/* NAVİQASİYA MOBİLE MOD */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: $--main-two-color;
    /* box-shadow: 0 8px 16px black; */
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding: 10rem;
  }
  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }
  /* .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  } */

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1023px) {
  .nav1 {
    // height: calc(3.5rem + 2rem);
    column-gap: 3rem;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  
  .nav__list {
    flex-direction: row !important;
    column-gap: 3rem;
  }
}
// @media screen and (min-width: 1150px) {
//   .container {
//     // margin-inline: auto;
//   }
// }
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}
.nav__link {
  color: black;
  transition: color 0.4s;
}
.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}
.show-menu {
  top: 0;
}
.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: $--search-color;
  box-shadow: 0 8px 32px $--search-shad-color;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}
.search__icon {
  font-size: 1.25rem;
  color: $--main-color;
}
.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: $--search-color;
  color: $--main-color;
}
.show-search {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__form {
  transform: translateY(0);
}
.login__form,
.login__group {
  display: grid;
}
.login__form {
  background-color: $--search-color;
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px $--search-shad-color;
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}
.login__title {
  font-size: 1.5rem;
  color: $--log-title-color;
}
.login__label {
  display: block;
  text-align: initial;
  color: $--log-title-color;
  margin-bottom: 0.25rem;
}
.login__input {
  width: 100%;
  background-color: $--search-color;
  border: 2px solid $--log-bor-color;
  padding: 1rem;
  border-radius: 0.5rem;
  color: $--main-color;
}
.login__signup a {
  color: $--log-a-color;
}
.login__forgot {
  display: inline-block;
  color: $--log-a-color;
  margin-bottom: 1.25rem;
}
.login__button {
  display: inline-block;
  background-color: $--log-a-color;
  width: 100%;
  color: $--main-two-color;
  padding: 1rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}
.login__button:hover {
  box-shadow: 0 4px 24px $--log-hov-color;
}
.show-login {
  opacity: 1;
  pointer-events: initial;
}
.show-login,
.login__form {
  transform: translateY(0);
}
.aboutPageİmage{
  width: 80px;
}
.about--img{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.aboutCard{
  padding: 2rem;
  background-color: $--main-two-color;
  margin-bottom: 1rem;
  transition: .9s;
  transform: scale(1);
  
  // text-align: center;
}
.prefer-head{
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  & p{
    color: $--card-btn-color;
  }
}
.aboutCard:hover{
  transform: scale(1.06);
}
.miniPage{
  display: flex;
  margin-top: 1rem;
  margin-left: 4rem;
  & .miniPageTextTwo{
    color: $--stu-sp-color;
  }
}
@media screen and (max-width:992px) {
  .miniPage{
    margin-left: 0;
  }
}
.miniPageTextOne,
.miniPageTextTwo{
  font-size: 0.625rem;
  margin-top: -8px;
  margin-bottom: 0 !important;
  margin-right: .7rem;
  margin-left: .7rem;
}
.ceoText{
  padding: 1rem;
  // background-color: $--main-two-color;
}
// .dddd{
//  background-color: red;
//  height: 200px;
// }
.course-two-btn{
  // background-color: #fff;
  color: $--main-color;
}
.course-about-text ul{
  list-style-type: disc !important;
}
.course-about-text{
  margin-left: 100px;
  padding-left: 1.25rem;
}
@media screen and (max-width:992px) {
  .course-about-text{
    margin-left: 0px;
  }
}

.course-about-text ul li{
  margin-bottom: 1rem;
}
.course-about-icons{
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  // display: inline-block;
  .course-icon{
    // display: block;
    width: 1.875rem;
    height:1.875rem;
    background-color:  $--cou-ico-colo;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; margin-bottom: 12px;
    color: $--main-two-color;
  }
}
.course-icon-box {
  display: flex;
}
.course-icon-box-text{
  color: $--stu-sp-color !important;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.875rem; 
  margin-left: 0.625rem;
}
.course-about{
  margin-top: 9.375rem;
}
// .........................
.container .cardess {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(($--px-100 * 3) + $--px-20);
  background-color: $--main-two-color;
  border-radius: $--px-20;
  box-shadow: 0 1px 5px hsla(230, 13%, 9%, 0.4);
  // box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
  transition: 0.9s;
  margin-bottom: 1.25rem;
}
.container .cardess:hover {
  height: 31.25rem;
}
.container .cardess .imgBx {
  position: absolute;
  top: $--px-0;
  width: 100%;
  height: calc(($--px-100 * 2) + $--px-20);
  background-color: $--shadow-color;
   border-radius: 12px;
  overflow: hidden;
  transition: 1s;
}
.container .cardess:hover .imgBx {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 15);
  border-radius: $--px-20;
}
.container .cardess .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .cardess .content {

  position: absolute;
  top: calc(($--px-100 * 2) + $--px-35);
  width: 100%;
  padding: 3px 7px;
  overflow: hidden;
  height: $--px-30;
  // text-align: center;
  transition: 0.9s;
}
.container .cardess:hover .content {
  top: calc($--px-100 + $--px-20);
  height: calc(($--px-100 * 3) + $--px-30);
}
.container .cardess .content h2 {
 font: {
    size: $--px-20;
    weight: 700;
 }
}
.container .cardess .content p {
  color: $--shadow-color;
}
// .container .cardes .content a {
//   position: relative;
//   top: -9px;
//   display: inline-block;
//   padding: 12px 25px;
//   background-color: $--aqua-color;
//   color: $--main-two-color;
//   font-weight: 500;
//   text-decoration: none;
//   border-radius: $--px-8;
// }
.container .cardess .content span{
  color: $--rebe-color;
}

.course-about-text-two{
  // background-color: $--main-two-color;
  background: $--main-two-color;
box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.50);
  padding: 60px;
  margin-left: 70px;
  
}
.course-about-text-two-p{
  color: #543EE9;
  margin-bottom: 20px;
  font: {
    family: Futurica;
    size: 50px;
    style: normal;
    weight: 700;
  }

line-height: normal;


}
.course-about-text-two ul{
  list-style-type: disc !important;
}
@media screen and (max-width:992px) {
  .course-about-text-two{
    margin-left: 0px;
  padding: 1.25rem;
  }

}
@media screen and (max-width:992px) {
  .imm #course-img{
    margin-top: 11rem;
  }

}
@media screen and (max-width:768px) {
  .imm #course-img{
    margin-top: 1rem
  }

}
.courses-about{
  margin-top: 3rem;
}
.course-icon-two{
  cursor: pointer;
  width: 28px;
height: 28px;
background-color:$--stu-ico-color;
color: $--main-two-color;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
@media screen and (max-width:992px) {
  .course-mini-text{
    flex-wrap: wrap;
  }
 
  
}
.course-about-text-two-icons{
  color: $--icon-star-color;
  // padding: 10px;
  // margin-top: 1rem;
}
.addition-icons{
  color: $--icon-star-color;
  padding: 10px;

}
@media screen and (max-width:992px) {
  .addition-icons{
    padding: 0;
    padding-top: 10px;
  }
}
.cardn{
  // background: #fff;
  // box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5);
  padding: 60px;
  margin-left: 70px;
}
.course-about-text-two-spa{
  color: #FE5538;
  font: {
    family: Mulish;
    size: 12px;
    style: normal;
    weight: 700;
  }
  line-height: 20px; /* 166.667% */

}

// -------FAİZLER--------
.bar {
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  // margin-bottom: 10px;
  //  padding-top: 20px;
  border-radius: 6px;
  transition: 0.3s ease;
}
@media screen and (max-width:992px) {
  .bar{
    padding: 0;
  }
  .cardn{
    margin-left: 0;
    padding: 10px;
  }
}

.bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: var(--small-font-size);
}

.bar .info span {
  font-weight: 500;
}

.bar .line {
  position: relative;
  width: 100%;
  height: 7px;
  background: #c5cadf;
  border-radius: 2px;
}
html {
  scroll-behavior: smooth;
}
.bar .line:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #3AD4D8;
  border-radius: 2px;
}

.bar .html:before {
  width: 95%;
}

.bar .css:before {
  width: 85%;
}

.bar .javascript:before {
  width: 80%;
}

.bar .jquery:before {
  width: 80%;
}

.bar .php:before {
  width: 75%;
}
.education{
  display: inline-block;
    width: 70%;
}

.faiz-icon{
  margin-top: 56px;
  margin-left: -9px;
  width: 200px;
   box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5);
   border: 0;
}
@media screen and (max-width:992px) {
  .faiz-icon{
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
.faiz-icon-one{
  color: #543EE9;
}
.leader-board{
  margin-top: 3rem;
}
.leader-box{
  background-color: $--main-two-color;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 25px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5);
}
.leader-box-two{
  display: flex;
  justify-content: end;
}
.leader-box-three-img{
  display: flex;
  & img{
    width: 80px;
  }
  & p{
    margin-top: 20px;
    margin-bottom: 0;
  }
}
.leader-box-three-img-1{
  display: flex;
  & img{
    width: 80px;
    
  }
  & p{
    margin-top: 20px;
    margin-bottom: 0;
    
  }
}
.leader-box-four p{
margin-top: 20px;
margin-bottom: 0;
}
.leader-box-five p{
  margin-top: 20px;
  margin-bottom: 0;
  }
  .leader-box-two-text{
    margin-left: 238px;
    margin-right: 48px;
    color: #FE5538;
  }
  .leader-board-main{
    margin-left: 60px;
  }
  .leader-box-two-text-one{
    color: #FE5538;
  }
  @media screen and (max-width:992px) {
    .leader-board{
      display: none;
    }
  }
  // -----------TEACHER.HTML------------
  #teacher-about{
    background-color: $--main-two-color;
  box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5);

  }
  .teacher-mini-text{
    color: #543EE9;
  }
  #leader-box-two-text{
    margin-left: 26.3rem;;
  }
  #leader-box-two-text{
    margin-right: 22px;
    color: #FE5538;

  }
  // ----------------CERTİFİCATES------------
  .certificates-head{
    text-align: center;
    margin-bottom: 2rem;
  }
  .certificates{
    margin-top: 2rem;
  }
  #sert{
    display: block;
    width: 200px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
  }
  .certificates-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    height: 350px;
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  // ---------------POPUP-VİDEO-------------

  .video-card {
    background: #fff;
    width: 350px;
    height: 280px;
    // margin: 15px;
    margin-left: 180px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(2, 2, 2, 0.2);
  }
  
  @media screen and (max-width:992px) {
    .video-card{
      margin-left: 0;
    }
  }
  .video-card-body {
    position: relative;
  }
  
  .video-thumbnail {
    position: relative;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
  }
  
  .video-thumbnail .thumb-img {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .video-thumbnail .thumb-video {
    position: absolute;
    width: 102%;
    height: 102%;
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .video-card-title {
    color: #222;
    font-size: 0.9em;
    font-weight: 600;
    // height: 65px;
    padding: 10px;
    cursor: pointer;
  }
  
  .video-card-info {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 0.75em;
  }
  
  .video-card-info .user {
    color: #555;
    text-decoration: none;
  }
  
  .video-card-info .uploaded-time {
    color: #555;
  }
  
  /*======= Video card modal screen =======*/
  .video-modal-screen {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    transition-property: visibility, opacity;
  }
  
  .video-modal-screen.active {
    visibility: visible;
    opacity: 1;
  }
  
  .video-modal-content {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(2, 2, 2, 0.3);
    overflow: hidden;
    transform: scale(0.5);
    transition: transform 0.5s ease;
  }
  
  .video-modal-screen.active .video-modal-content {
    transform: scale(1);
  }
  
  .video-modal-content .modal-video {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
  
  .vid-modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.3em;
    margin: 20px 30px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .vid-modal-close-btn:hover {
    color: #222;
  }
  
  .modal-video-title {
    color: #222;
    font-size: 1.1em;
    font-weight: 400;
    padding: 5px 15px;
  }
  
  .modal-video-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  
  .modal-video-info .user {
    color: #555;
    text-decoration: none;
  }
  
  .modal-video-info .uploaded-time {
    color: #555;
  }
  
  /*======= Media queries (max-width: 800px) =======*/
  @media screen and (max-width: 800px) {
    .modal-video-title {
      font-size: 1em;
    }
  }
  